@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
  overflow-y: scroll;
  padding-bottom: 20px;
}

body {
  font-family: Source Sans Pro;
  color: #444;
  font-weight: 300;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 500;
}

#data table {
  width: 100%;
}
#data td+td {
  width: 80px;
}

.container-fluid {
  padding-top: 500px;
}

#desc { font-size: 16px; }

#desc span {
  color: #944;
  font-weight: 400;
}